<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test_scaffold.name %>
</p>

<p>
  <b>Title:</b>
  <%= @test_scaffold.title %>
</p>

<p>
  <b>Content:</b>
  <%= @test_scaffold.content %>
</p>


<%= link_to 'Edit', edit_test_scaffold_path(@test_scaffold) %> |
<%= link_to 'Back', test_scaffolds_path %>
